{% extends 'gallary/base.html' %}
{% load cloudinary %}
{% block content %}
<div class="container-fluid landing header">
    <h1 class="text-center"><a href="#"></a><a href="{% url 'home' %}"><em>Locations</em>SH0t</a></strong></h1>
</div>
<div class="container">
    
    {% if images %} 
    <h3 class="text-left">Photos from <strong>{{ images.image.name}}</strong></h3>   
    <div class="jumbotron">
        {% for image in images %}
        <div class="card" data-toggle="modal" data-target="#{{image.id}}">
            <img src="{{image.image.url}}" alt="{{image.name}}" class="card-img">
        </div>
        
        <div class="modal fade " id="{{image.id}}" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content modalcard">
                    <div class="modal-header">
                        <h5 class="modal-title d-block mx-auto" id="exampleModalLongTitle"><small>Image Name::</small> {{image.name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="{{image.image.url}}" alt="{{image.name}}" class="img-responsive"   style="width:700px; margin: auto;">
                        <p>{{image.description}}</p>
                        <small>Category:</small> <a href="/category/{{image.category}}">{{image.category}} </a> <br> <small>Location:</small><a href="/location/{{image.location}}" class="btn btn-sm btn-outline-info">{{image.location}}</a>
                    </div>
                    <div class="modal-footer">

                        <!-- <input class="form-control input-lg" type="text" value="{{image.image.url}}" id="link">
                        <button class="btn btn-success btn-sm" onclick="copylink()">Copy</button> -->

                        <input type="text" value="{{ image.image.url }}" id="links">
                        <button class="btn btn-success btn-sm" onclick="copyLink()">Copy text</button>


                        <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}