.header{
    /* background-image: url(../images/whale.jpg); */
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 250px;
}

.jumbotron{
    display: flex;
    flex-wrap: wrap;
}

.jumbotron .card{
    padding: 5px;
}

.navbar{
    color: red;
    
}

body{
    background-image: url(../images/pets2.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}